@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header{
    background-attachment: fixed;
    position: fixed;
    top:0;
    width:100%;
    background-color:transparent;
}
body{
    /* background-image: url("https://cdn.wallpapersafari.com/6/50/vbCtK3.jpg"); */
    /* position: relative;
    min-height: 100vh;
    background-repeat:no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
/* section{
    position: relative;
    min-height: 100vh;
    background-image: url("hindu.jpg");
    background-repeat:no-repeat;
    background-size: cover;
} */
.container {
    margin: 0.15%;
}
.text{
    padding-top: 15%;
    text-shadow: 1px 1px 10px #1e3361;
    margin-left: 4%;
}
.text h1{
    font-size: 3rem;
    color:#ffffff;
    text-shadow:  1px 1px 3px #1c6178;
}
.text h4{
    margin-top: 18px;
    font-size: 1.1rem;
    color:#ffffff;
    text-shadow:  1px 1px 3px #1c6178;
  
}
.login{
    position: absolute;
    padding: 40px 70px;
    text-align: center;
    box-shadow: 3px 6px 30px 8px rgba(60 60 60 / 18%);
    right: 5%;
    bottom: -10%;
    height: auto;
    border: 1px solid;
    border-top-color: #68c0bd;
    border-left-color: #68c0bd;
    border-bottom-color: #1D5D9B;
    border-right-color: #1D5D9B;
    border-radius: 8px;
    backdrop-filter: blur(3px);
}
.login h3{
    font-size: 25px;
    font-weight:700;
    letter-spacing: 2px;
    color:#ffffff;
    padding-bottom: 15%;
}
.inputbox{  
     position: relative;
     margin-bottom: 50px;
}
.inputbox input{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
    border: none;
    border-bottom: 1.5px solid #1c6178;
    background-color: transparent;
    padding: 4px 3px;
    outline: none;
}
.inputbox span{
    position:absolute;
    left: 2px;
    bottom: 25px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.button{
    position: relative;
    cursor: pointer;
    background: rgba(77, 167, 164, 0.539);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 500;
    border: none;
    font-size: 15px;
    padding: 8px 10px;
    box-shadow: 0 3px 8px 2px rgb(9, 89, 66) ;
    margin-top: -50px;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    color: rgb(5, 77, 62);
    background-color:rgba(255, 255, 255, 0.395) ;
    box-shadow: 0 3px 8px 2px rgb(9, 89, 66);
    transition: all 0.2s ease-in-out;
}
/* body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
} */
/* .Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
} */
/* .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}
.content a:hover{
    background: #034e88;
    color: #fff;
} */
@keyframes change{
    0%
    {
        background-image: url(img1.jpg);
    }
    20%
    {
        background-image: url(img2.jpg);
    }
    40%
    {
        background-image: url(img3.jpg);
    }
    60%
    {
        background-image: url(img4.jpg);
    }
    80%
    {
        background-image: url(img5.jpg);
    }
    100%
    {
        background-image: url(img1.jpg);
    }
}